@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}


.jumbo {
  padding: 50px;
  background: #f6f6f6;
}

.jumbo:hover {
  background-color: #f3f3f3;
}

.jumbo h2 {
  font-size: 3.2em;
  margin-top: -25px;
}

.jumbo p,
.jumbo address {
  margin-bottom: 25px;
}

.button {
  padding: 10px 30px 10px;
  text-decoration: none;
  color: #fff;
  background: #016aba;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.delete {
    padding: 10px 30px 10px;
    text-decoration: none;
    color: #fff;
    background: #ba0101;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
    display: inline-block;
}

.button:hover {
  opacity: 1;
}

.container {
  max-width: 1024px;
  min-height: 100vh;
  background: #f9f9f9;
  margin: 0 auto;
}

  input {
    padding: 11px;
    font-size: 18px;
    width: 500px;
    margin: 20px auto 50px;
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 1px lightgray;
    display: block;
  }

  input:focus {
    background-color: #f9f9f9;
    outline: none;
  }

  .details {
    height: 150px;
    margin: 20px 25px;
  }
  
  .details h3 {
    flex-basis: 100%;
  }
  
  .details h3 a {
    display: inline;
  }
  
  .completed {
      text-decoration: line-through;
  }

  ul {
    list-style: none
  }

  ul li {
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
  }